.about-the-company {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: auto;
  padding: 1rem;
}

.about-the-company {
  max-width: 1000px;
}

.about-the-company .separator {
  text-align: center;
  opacity: 30%;
}
