.contact-us-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-us-form {
  box-sizing: border-box;
  padding: 3rem;
  color: white;
  background-color: #004864;
  border: solid 10px #0C7CA9;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 800px;
  gap: 1.5rem;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.9);
}

.contact-us-form input, .contact-us-form textarea {
  color: white;
  font-family: 'Raleway';
  width: 100%;
  background: none;
  border: none;
  font-size: 16px;
  border-bottom: 2px solid #0C7CA9;
}

.contact-us-form textarea {
  border: 2px solid #0C7CA9;
  height: 100px;
  padding: .5rem;
}

.contact-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 32px;
}

.contact-us-form .button {
  font-size: 18px;
  border: 1px solid white;
  color: white;
  padding: 12px 32px;
  background: none;
  margin-top: 32px;
  cursor: pointer;
}
