<!DOCTYPE html>


<div class="about-the-company">
	<span class="font text--large">
		Des <b class="text--emphasis">délais qui vous conviennent</b> et une équipe dévouée à votre service.
	</span>
	<div class="separator text--normal">✦✦✦</div>
	<span class="font text--large">
		Des installations modernes pour la meilleure qualité à un <b class="text--emphasis">prix compétitif</b>.
	</span>
	<div class="separator text--normal">✦✦✦</div>
	<span class="font text--large">
		Équipé d'un four à séchage rapide <b class="text--emphasis">thermoréacteur Sun Spot</b> vos délais de livraison seront respectés.
	</span>
</div>
