<!DOCTYPE html>

<div class="about-us">
	<div class="about-us-line">
		<div class="photos">
			<img src="./assets/photos/photo_002.jpg" alt="">
			<div class="photos-sub-two">
				<img src="./assets/photos/photo_004.jpg" alt="">
				<img src="./assets/photos/photo_001.jpg" alt="">
			</div>
		</div>
		<div class="mission">
			<div class="mission-point">
				Des <span class="mission-point-emphase">délais qui vous convient</span> et une équipe dévouée à votre service.
			</div>
			<div class="mission-seperator">✦✦✦</div>
			<div class="mission-point mission-point--right">
				Des installations modernes pour la <span class="mission-point-emphase">meilleure qualité</span> à un prix compétitif.
			</div>
		</div>
	</div>
	<div class="separator-line"></div>
	<div class="about-us-line">
		<div class="mission">
			<div class="mission-point">
				Équipé d'un four à séchage rapide <span class="mission-point-emphase">thermoréacteur Sun Spot</span> vos délais de livraison seront respectés.
			</div>
			<div class="mission-seperator">✦✦✦</div>
			<div class="mission-point mission-point--right">
				Nous utilisons de la <span class="mission-point-emphase">peinture de qualité</span> pour des résultats de qualité.
			</div>
			<div class="mission-seperator">✦✦✦</div>
			<div class="mission-point">
				Notre <span class="mission-point-emphase">équipe grandissante</span> a à coeur vos exigences, nous serons votre partenaire de réussite.
			</div>

		</div>
		<div class="photos">
			<img src="./assets/photos/photo_005.jpg" alt="">
			<img src="./assets/photos/photo_003.jpg" alt="">
		</div>
	</div>
</div>
