<!DOCTYPE html>
<div class="contact-us-container">
	<form
		class="contact-us-form"
		action="https://formspree.io/f/myyqrble"
		method="POST"
	>
		<div class="contact-title">
			<span class="text--large text--title">CONTACTEZ-NOUS</span>
			<p class="text--normal">Laissez-nous un message et nous vous répondrons dès que possible.</p>
		</div>
		<input type="email" name="email" placeholder="Votre courriel">
		<textarea placeholder="Votre message" name="message"></textarea>
		<button class="button" type="submit">Envoyer →</button>
	</form>
</div>
