<div class="footer">
    <div class="footer-content">
        <div class="company-logo">
            <img class="logo" src="./assets/sema-logo.svg" alt="SEMA" width="400" height="300">
            <div class="intro">
                Une entreprise d’ici qui se spécialise en peinture de portes et fenêtres fondée en 2020.
            </div>
        </div>
        <div class="informations">
            <div class="info">
                <span class="info-title">Adresse</span>
                <p>487 Rang Brûlé,<br>Saint-Thomas,QC J0K 3L0</p>
            </div>
            <div class="info">
                <span class="info-title">Nous joindre</span>
                <p><b>telephone:</b> <a href="tel:+14502718595">(450) 271-8595</a></p>
                <p><b>info:</b> <a href="mailto:info@semacouleurs.com">info@semacouleurs.com</a></p>
            </div>
        </div>
    </div>
    <div class="notice">
        semacouleurs.com | Made by MDavydov © 2023
    </div>
</div>
