<!DOCTYPE html>

<div class="video-title">
	<video controls autoplay loop muted preload="metadata">
		<source src="assets/videos/petit-format-video-couverture.mp4" type="video/mp4" media="(max-width: 767px)"/>
		<source src="assets/videos/peinture-couleurs-profesionnel.mp4" type="video/mp4" media="(min-width: 768px)"/>
	</video>
	<div class="title">
		<span class="sema">SEMA</span>
		<span class="couleurs">
			<div class="line"></div>
			couleurs
			<div class="line"></div>
		</span>
	</div>
	<div onclick="scrollToPage()" class="scroll">
		scroll
		<span class="double-chevron"></span>
	</div>
</div>
